.mainContainer 
{
    
}
.mainContainer::after{
    opacity: 0.5;
}


     .actionBar {
        
        align-content: flex-end;
        
        
        
        

    }

    .actionBar  button {


        height: 50px;
        font-size: 15px;
        background-color: lightblue;
        border: none;


    }


.subCardTitle {

    font-size:30px;
    font-weight:bold;
}



.locationInfos {
    background: transparent;

    background-size: 100% 100%;
    
}

.locationInfos mat-card {

    background-color: rgba(255,255,255,.7);
}



.locationInfos mat-card mat-card-header {
    background-color:lightblue;
    align-items: center;

    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;



}

.locationInfos mat-card mat-card-content {


    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;


}

.locationInfos .actionButton {




}

