

   <div class="container col-lg-12" style="padding:20px" fxLayout fxLayout.xs="column" fxLayoutGap="20px"
   fxLayoutGap.xs="0">


   

<mat-card fxFlex="50%">

    <mat-card-header>

        <mat-card-title>
            Détails sur la localisation:
        </mat-card-title>

    </mat-card-header>
    <mat-card-content>

        

            
                <div class="form-group">
                    Ville : {{location.city}}
                    
                </div>
            
        




    </mat-card-content>

</mat-card>


<mat-card fxFlex="50%">
    <mat-card-content style="align-content: center;align-content: space-around">

        <H1> La carte et l'emplacement ici</H1>
    </mat-card-content>

</mat-card>
