<div style="text-align: center;">
    <mat-card class="example-card"
        style="width: 50vw;height:70vh; background-color:rgb(141, 204, 219) ;text-align:center" fxLayout="column"
        layout-align="center center">
        <mat-card-header fxFlex="20"
            style="background-color:rgba(255,255,255,0.6); border-style:solid; border-radius:10px; border-color:white; margin:10px;">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content fxFlex="80">
            <div fxLayout="column" fxFlex="100">
                <div fxFlex="30" fxLayout="column" class="town-title">
                    <p *ngIf="location.infosAvailable">


                        ({{location.currentMeteoDay.current.hour}}


                        {{location.currentMeteoDay.current.temperature.min}}

                        {{location.currentMeteoDay.current.temperature.max}}
                        {{location.currentMeteoDay.current.temperature.val}}


                        {{location.currentMeteoDay.current.humidity}}

                        {{location.currentMeteoDay.current.pressure}}
                    </p>


                    <p *ngFor="let meteoInfo of location.currentMeteoDay.todayForecast">
                        {{meteoInfo.hour}}
                        {{meteoInfo.temperature.min}}
                        {{meteoInfo.temperature.max}}
                        {{meteoInfo.temperature.val}}
                        {{meteoInfo.humidity}}
                        {{meteoInfo.pressure}}
                            


                    </p>



                </div>
                <div fxFlex="6" fxLayout="row" fxLayoutAlign="center center" class="day">
                    <h2>Aujourd'hui</h2>
                </div>
                <div fxFlex="80" fxLayout="row" class="infos">
                    <div *ngFor="let i of [1, 2, 3, 4, 5] " fxFlex="20" style="padding:10px;background-color: white;">
                        <h1>Mon contenu </h1>
                        <h2>Mon petit contenu</h2>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions> -->
    </mat-card>

</div>


{{this.location.currentMeteoDay.fullNName}}