



<div style="text-align: center;">

    <mat-card class="mainCard" fxLayout="column" fxLayoutGap="5%">

        <div fxFlex="25" class="header" fxLayout="row" fxFlex.xs="15" fxLayoutAlign="space-between">

            <div fxFlex="50%" fxLayout="column" fxLayoutGap="5"  fxLayoutAlign="space-between" *ngIf="location.infosAvailable">

                <div fxFlex="60%" class="tempValue">

                    {{location.currentMeteoDay.current.temperature.val}}°<small>C</small>
                </div>

                <div fxFlex="35%" class="weatherState">
                        {{location.currentMeteoDay.current.weatherStateText}}
                </div>


            </div>

            <div fxFlex="30" fxLayout="column" fxLayoutGap="5" class="otherInfos" fxLayoutAlign="space-between" *ngIf="location.infosAvailable">


                <div fxFlex="75" class="todayIcon"  [ngStyle]="{'background-image': location.currentMeteoDay.current.main_icon}" >

                    
                </div>

                <div fxFlex="10" class="todayHumidity">

                </div>

                <div fxFlex="15" *ngIf="location.infosAvailable" class="todayPressure" >

                    {{location.currentMeteoDay.current.pressure}}

                </div>

            </div>



        </div>



        <mat-card-content fxFlex="80" fxFlex.xs="60" fxLayout="column" class="forecastInfos">

            <div fxLayout="column" fxFlex="100">

                <div fxFlex="20" fxLayout="column" class="town-title">


                    {{location.fullName}}
                    <p>Prévisions d'aujourd'hui</p>


                </div>

                <div fxFlex="5"></div>


                <div fxLayout="row" fxLayoutAlign="center">
                    <mat-spinner diameter="100" *ngIf="!location.infosAvailable" style="align-content: center"></mat-spinner>
                </div>

                <div>
                  
                </div>

                <div fxFlex="60" fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="space-around" class="infos" *ngIf="location.infosAvailable">


                    




                    <mat-card *ngFor="let meteoInfo of location.currentMeteoDay.todayForecast" fxLayout="column" fxFlex="20"
                        class="meteoInfoForecast">


                        <div fxFlex="10" class="hourTitle">

                            {{meteoInfo.hour}} :00

                        </div>


                        <div fxFlex="30" class="forecastTemp" fxLayout="column" fxLayoutAlign="end">

                            {{meteoInfo.temperature.val}}°


                        </div>


                        <div fxFlex="40" class="forecastIcon">

                            <span>

                            </span>


                        </div>


                        <div fxFlex="10" class="forecastHumidity">

                            {{meteoInfo.pressure}}
                        </div>

                        <div fxFlex="10" class="forecastPressure">
                            {{meteoInfo.humidity}}

                        </div>

                    </mat-card>

                </div>



            </div>
        </mat-card-content>


    </mat-card>



</div>