.topInput mat-card-title {
    
    font-family: Tahoma;
    font-size:20px;
    
        
}

.topInput mat-card-header {
    
    margin-bottom:10px;
}


.topInput mat-form-field {
    font-size: 15px;
}

.topInputSubmit{
    align-content: space-around
    
}

.topInputSubmit button{
    width:100%;
    
    font-size: 14px;
    
    height: 60%;
}


.topInput {

    padding-top:1px;
    padding-bottom: 1px;
    
}


.mainCard {
    margin :1px;
}