<mat-card class="mainCard" fxLayout="column" fxLayout.xs="column" fxFlexFill  class="bg-transparent">
    <div fxLayout fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="2"    fxLayoutAlign="space-between" style="padding:0px 25px 0px 25px;" >





        <div class="form-group" fxFlex="30"  fxFlex.xs="100">


            <mat-card class="topInput white-transparent">
                <mat-card-header>
                    <mat-card-title>
                        Ville
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <form width="100%">
                        <mat-form-field style="width:100%">
                            <input matInput [ngModel]="currentLocation.fullName" [formControl]="townInput"
                                [matAutocomplete]="foundTowns" />

                        </mat-form-field>

                        <mat-autocomplete #foundTowns="matAutocomplete">


                            <mat-option *ngIf="isLoading">




                            </mat-option>
                            <mat-option *ngFor="let location of foundLocations | async" [value]="currentLocation"
                                (onSelectionChange)="selectLocation(location)">
                                {{location.fullName}}
                            </mat-option>

                        </mat-autocomplete>




                    </form>
                </mat-card-content>
            </mat-card>

        </div>




        <div class="form-group" fxFlex="30" fxFlex.xs="100">

            <mat-card class="topInput white-transparent">
                <mat-card-header>
                    <mat-card-title class="topInputTitle">
                        Coordonnées
                    </mat-card-title>

                </mat-card-header>
                <mat-card-content class="coordsInput" fxLayout.xs="column">



                    <mat-form-field d-flex>

                        <input matInput placeholder="Longitude" [formControl]="lonInput" [ngModel]="currentLocation.longitude"></mat-form-field>




                    <mat-form-field fxFlex fxLayoutAlign="end" fxLayoutAlign.xs="start"> <input matInput placeholder="Latitude"
                            [ngModel]="currentLocation.latitude" [formControl]="latInput"> </mat-form-field>



                </mat-card-content>
            </mat-card>

        </div>



        <div class="form-group ;align-content:center;" fxFlex="20" fxFlex.xs="100%">
            <mat-card  class="topInput white-transparent " style="height: 100% " fxLayout fxLayout="col" >

                <button mat-button style="width: 100%; height: 60%;align-self:center;"  routerLinkActive="activeButtonLink"
                    routerLink="add" (click)="actionAdd()">


                    <mat-icon>validate</mat-icon>
                    Ajouter
                </button>

            </mat-card>

        </div>






    </div>

    <div  fxFlex="60" fxFlex.xs="50">
        <aol-map [logo]="true" [width]="width" [height]="height" (onSingleClick)="onSingleClick($event)">
            <aol-interaction-default></aol-interaction-default>
            <aol-view [zoom]="zoom">
                <aol-coordinate [x]="currentLocation.longitude" [y]="currentLocation.latitude" [srid]="'EPSG:4326'"></aol-coordinate>
            </aol-view>
            <aol-layer-tile [opacity]="opacity">
                <aol-source-osm></aol-source-osm>
            </aol-layer-tile>
            <aol-layer-vector [opacity]="opacity">
                <aol-source-vector>
                    <aol-feature>
                        <aol-geometry-point>
                            <aol-coordinate [x]="longitudePointer" [y]="latitudePointer" [srid]="'EPSG:4326'"></aol-coordinate>
                        </aol-geometry-point>
                        <aol-style>
                            <aol-style-circle [radius]="10">
                                <aol-style-stroke [color]="'black'" [width]="width"></aol-style-stroke>
                                <aol-style-fill [color]="'green'"></aol-style-fill>
                            </aol-style-circle>
                        </aol-style>
                    </aol-feature>
                    <aol-feature>
                        <aol-geometry-point>
                            <aol-coordinate [x]="longitudePointer" [y]="latitudePointer" [srid]="'EPSG:4326'"></aol-coordinate>
                        </aol-geometry-point>
                        <aol-style>
                            <aol-style-icon [src]="markerImage" [anchor]="[0.5, 1]" [anchorXUnits]="'fraction'"
                                [anchorYUnits]="'fraction'" [scale]="0.1" [anchorOrigin]="'top-left'">
                            </aol-style-icon>
                        </aol-style>
                    </aol-feature>
                </aol-source-vector>
            </aol-layer-vector>
            <aol-control>
                <aol-content>
                    <div class="ol-overlaycontainer-stopevent">
                        <div class="ol-zoom ol-unselectable ol-control">
                            <button [title]="titleZoomIn" class="ol-zoom-in" type="button" title="Zoom in" (click)="increaseZoom()">+</button>
                            <button [title]="titleZoomOut" class="ol-zoom-out" type="button" title="Zoom out" (click)="decreaseZoom()">−</button>
                        </div>
                        <div class="ol-rotate ol-unselectable ol-control">
                            <button [title]="titleCurrentLocation" (click)="pointerLocation()">&#8982;</button>
                        </div>
                        <div class="ol-attribution ol-unselectable ol-control ol-uncollapsible">
                            <ul>
                                <li>© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a></li>
                            </ul>
                        </div>
                    </div>
                </aol-content>
            </aol-control>
        </aol-map>


      </div>

</mat-card>
