.topInput mat-card-title {

    font-family: Tahoma;
    font-size:20px;


}

.topInput mat-card-header {


}


.topInput mat-form-field {
    font-size: 15px;
}

.topInputSubmit{
    align-content: space-around

}

.topInputSubmit button{
    width:100%;

    font-size: 14px;

    height: 60%;
}


.topInput {

    padding-top:1px;
    padding-bottom: 1px;

}


.topInput mat-card-title {
    font-weight: bold;


}


.mainCard {
    margin :1px;
}
