<div>
  <div class="vertical-nav  bg-white container col-md-2" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
      <div class="media d-flex align-items-center">
        <div class="media-body">
          <h4 class="m-0">Localisations</h4>

        </div>
      </div>
    </div>

    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">liste complète</p>

    <ul class="nav flex-column bg-white mb-0">

      <li class="nav-item" *ngFor="let location of userService.getLocations()|keyvalue">


        <a class="link" [routerLink]="['details',location.key]" routerLinkActive="active" [state]=location>

          <mat-card>
            <mat-card-header>
              <mat-card-title>
                {{location.value.city}}
              </mat-card-title>

            </mat-card-header>
            <mat-card-content>
              ({{location.value.country}})
            </mat-card-content>
          </mat-card>

        </a>


      </li>



      <li class="nav-item">

        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>

        <mat-card>
          <mat-card-content>

            <button mat-raised-button  routerLinkActive="activeButtonLink" style="min-height: 100%; width:100%;"
              routerLink="add">


              <mat-icon>add</mat-icon>
              Ajouter une localisation
            </button>

          </mat-card-content>
        </mat-card>

      </li>

    </ul>
  </div>










  <div class="main-panel container col-md-10 min-height: 500px">



    <router-outlet></router-outlet>







  </div>
</div>