<div>
  <div class="vertical-nav  bg-white container col-md-2" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
      <div class="media d-flex align-items-center">
        <div class="media-body">
          <h4 class="m-0">Localisations</h4>

        </div>
      </div>
    </div>

    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

    <ul class="nav flex-column bg-white mb-0">

      <li class="nav-item" *ngFor="let location of userService.getLocations()">


          <a class="link" routerLink="details" [state]=location>

            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  {{location.city}}
                </mat-card-title>
              
              </mat-card-header>
              <mat-card-content>
                  ({{location.country}})
              </mat-card-content>
            </mat-card>
              
          </a>


      </li>



      <li class="nav-item">

        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
        <button class="btn btn-primary" routerLink="add">
          Ajouter une localisation
        </button>

      </li>

    </ul>
  </div>










  <div class="main-panel container col-md-10" style="background-color:aquamarine; min-height: 500px">



    <router-outlet></router-outlet>







  </div>
</div>