<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">              
              
              <!-- WEBSITE OVER -->
              
                    <div class="well well-lg" style='display:block; height: 630px' id="1">
                        <div class="panel-body">
                              <div id="demo" class="carousel slide" data-ride="carousel">

                                          <!-- Indicators -->
                                          <ul class="carousel-indicators">
                                            <li data-target="#demo" data-slide-to="0" class="active"></li>
                                            <li data-target="#demo" data-slide-to="1"></li>
                                            <li data-target="#demo" data-slide-to="2"></li>
                                          </ul>
                                          
                                          <!-- The slideshow -->
                                          <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                
                                              <app-meteo-card></app-meteo-card>

                                            </div>
                                            <div class="carousel-item">
                                              
                                              <app-meteo-card></app-meteo-card>

                                            </div>
                                            <div class="carousel-item">

                                                <app-meteo-card></app-meteo-card>

                                            </div>
                                          </div>
                                          
                                          <!-- Left and right controls -->
                                          <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                            <span class="carousel-control-prev-icon"></span>
                                          </a>
                                          <a class="carousel-control-next" href="#demo" data-slide="next">
                                            <span class="carousel-control-next-icon"></span>
                                          </a>
                                </div>                                                    
                          </div>  
                    
                      </div>
                   
         
              </div>
              <!--
              <div class="well well-lg" style='display:block; height: 630px' id="1">
                  <app-meteo-global></app-meteo-global>
              </div>
              -->
              
        </div>
    </div>
</section>