
<div fxLayout="column" style="width=100%;height:100%" fxLayoutAlign="start" >



  <div class="cardContainer " fxFlex="70%" fxFlex.xs="100" fxLayoutAlign="center" fxLayout="row" >


    <div fxFlex="80" style="height:100%" [@routeAnimations]="o && o.activatedRouteData
    && o.activatedRouteData['animation']">

      <router-outlet  #o="outlet">

    </router-outlet>

  </div>


  </div>




<mat-card class="cardContainer locationList bg-transparent"   fxLayout="row" fxLayoutAlign="center" fxFlex="10"  >


  <mat-toolbar fxFlex="80" class="sub-nav white-transparent" fxLayout fxLayoutAlign="space-around" >


      <a class="white-transparent" mat-button [routerLink]="['main',location.key]"   routerLinkActive="activeLocation"  [routerLinkActiveOptions]="{exact: true}" *ngFor="let location of userService.getLocations()|keyvalue">

         {{location.value.city}}

      </a>
  </mat-toolbar>

</mat-card>



</div>

